<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<fieldset>

    <legend>Mitglieder anlegen:</legend>


    <label for="memberType">Mitgliedsart:</label>
    <select id="memberType"
            name="memberType"
            type="checkbox"
            ng-model="MemberRequest.memberType">
        <option value="">--Bitte wählen--</option>
        <option value="VM">Vollmitglied (20€)</option>
        <option value="FA">Familienmitglied (-3€)</option>
        <option value="EM">Ermäßigt (23€)</option>
        <option value="JM">Jugendlicher (15€)</option>
        <option value="FM">Fördermitgleid (10€)</option><br>

    <label for="name">Vorname:</label>
    <input id="name"
           name="name"
           type="text"
           ng-model="MemberRequest.name"/><br>

    <label for="surname">Nachname:</label>
    <input id="surname"
           name="surname"
           type="text"
           ng-model="MemberRequest.surname"/><br>

    <label for="city">Wohnort:</label>
    <input id="city"
           name="city"
           type="text"
           ng-model="MemberRequest.city"/><br>

    <label for="addresse">Adresse:</label>
    <input id="addresse"
           name="addresse"
           type="text"
           ng-model="MemberRequest.addresse"/><br>

    <label for="zipcode">PLZ:</label>
    <input id="zipcode"
           name="zipcode"
           type="text"
           ng-model="MemberRequest.zipcode"/><br>

    <label for="birthday">Geburtsdatum:</label>
    <input id="birthday"
           name="birthday"
           type="date"
           ng-model="MemberRequest.birthday"/><br>

    <label for="entryDate">Eintrittsdatum:</label>
    <input id="entryDate"
           name="entryDate"
           type="date"
           ng-model="MemberRequest.entryDate"/><br>

    <label  ng-show="Member.memberType === 'FA'"
            for="family_members">Familienmitglieder:</label>
    <input id="family_members"
           name="family_members"
           type="text"
           ng-show="Member.memberType === 'FA'"
           ng-model="MemberRequest.family_members"/><br>

        <label for="IBAN">IBAN-Kontonr.:</label>
        <input id="IBAN"
               name="IBAN"
               type="text"
               ng-model="MemberRequest.IBAN"/><br>

    </select><br>


</fieldset>

</body>
</html>