<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<fieldset>

    <legend>Mitglieder anlegen:</legend>

    <label for="name">Vorname:</label>
    <input id="name"
           name="name"
           type="text"
           ng-model="model.members.name"/><br>

    <label for="surname">Nachname:</label>
    <input id="surname"
           name="surname"
           type="text"
           ng-model="model.members.surname"/><br>



        {{model.members.name}}
        {{model.members.surname}}


    </select><br>

    <button ng-click="anlegen()">Anlegen</button>

</fieldset>

</body>
</html>