<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<fieldset>

    <legend>Mitglieder anlegen:</legend>


    <label for="memberType">Mitgliedsart:</label>
    <select id="memberType"
            name="memberType"
            type="checkbox"
            ng-model="model.members.memberType.name"><br>
        <option value="">&#45;&#45;Bitte wählen&#45;&#45;</option>
        <option value="VM">Vollmitglied</option>
        <option value="FA">Familienmitglied</option>
        <option value="EM">Ermäßigt</option>
        <option value="JM">Jugendlicher</option>
        <option value="FM">Fördermitgleid</option>

    <label for="name">Vorname:</label>
    <input id="name"
           name="name"
           type="text"
           ng-model="model.members.name"/><br>

    <label for="surname">Nachname:</label>
    <input id="surname"
           name="surname"
           type="text"
           ng-model="model.members.surname"/><br>

    <label for="city">Wohnort:</label>
    <input id="city"
           name="city"
           type="text"
           ng-model="model.members.city"/><br>

    <label for="address">Adresse:</label>
    <input id="address"
           name="address"
           type="text"
           ng-model="model.members.address"/><br>

    <label for="zipcode">PLZ:</label>
    <input id="zipcode"
           name="zipcode"
           type="text"
           ng-model="model.members.zipcode"/><br>

    <label for="birthday">Geburtsdatum:</label>
    <input id="birthday"
           name="birthday"
           type="date"
           ng-model="model.members.birthday"/><br>

    <label for="entryDate">Eintrittsdatum:</label>
    <input id="entryDate"
           name="entryDate"
           type="date"
           ng-model="model.members.entryDate"/><br>

    <label  ng-show="model.members.memberType.name === 'FA'"
            for="family_members">Familienmitglieder:</label>
    <input id="family_members"
           name="family_members"
           type="text"
           ng-show="model.members.memberType.name === 'FA'"
           ng-model="model.members.familyMembers"/><br>

        <label for="IBAN">IBAN-Kontonr.:</label>
        <input id="IBAN"
               name="IBAN"
               type="text"
               ng-model="model.members.IBAN"/><br>

        {{model.members.name}}
        {{model.members.surname}}
        {{model.members.city}}
        {{model.members.address}}
        {{model.members.zipcode}}
        {{model.members.birthday}}
        {{model.members.entryDate}}
        {{model.members.memberType.name}}
        {{model.members.familyMembers}}
        {{model.members.IBAN}}
        {{model.members.memberType.name}}
        {{model.members.memberType.amount}}

    </select><br>

    <button ng-click="anlegen()">Anlegen</button>

</fieldset>

</body>
</html>