<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<fieldset>

    <legend>Mitglieder löschen:</legend>



        <label for="name1">Vorname:</label>
        <input id="name1"
               name="name1"
               type="text"
               ng-model="todelete.name1"/><br>

        <label for="surname">Nachname:</label>
        <input id="surname"
               name="surname"
               type="text"
               ng-model="todelete.surname"/><br>



    {{todelete.name}}
    {{todelete.surname}}

    <button ng-click="delete()">Löschen</button>


</fieldset>


</body>
</html>