<!DOCTYPE html>
<html lang="de">
<head>

    <link href="style.css" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>Zahlungsübersicht</title>


</head>
<body>
<h1>Zahlungsübersicht: {{member_id}}</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Jahr</th>
        <th>Betrag</th>
        <th>Mitgliedsart</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="payments in model.payments">

        <td>{{payments.payment_id}}</td>
        <td>{{payments.year}}</td>
        <td>{{payments.amount}}</td>
        <td>{{payments.memberType}}</td>
        <td><button ng-click="changeStatus(payments.payment_id)">{{payments.status}}</button></td>
    </tr>
    </tbody>

</table>

<div></div>



</body>
</html>