<!DOCTYPE html>
<html lang="en">
<head>

    <link href="style.css" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>Mitgliedersuche</title>

</head>
<body>

<fieldset>

    <legend>Mitglied suchen:</legend>

    <label for="name">Vorname:</label>
    <input id="name"
           name="name"
           type="text"
           ng-model="search.name"/><br>
         

    <label for="surname">Nachname:</label>
    <input id="surname"
           name="surname"
           type="text"
           ng-model="search.surname"/><br>

    <br>

    <button ng-click="suchen()">Suchen</button>

    <div></div>

    <table>
        <tr>
            <th>Nr.</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Adresse</th>
            <th>Wohnort</th>
            <th>PLZ</th>
            <th>Geburtsdatum</th>
            <th>Mitgliedsart</th>
            <th>Eintrittsdatum</th>
        </tr>

        <tr ng-repeat="results in model.results | orderBy:['surname', 'name']">

            <td><a href="#editMember/{{results.member_id}}">{{results.member_id}}</a></td>
            <td>{{results.name}}</td>
            <td>{{results.surname}}</td>
            <td>{{results.address}}</td>
            <td>{{results.city}}</td>
            <td>{{results.zipcode}}</td>
            <td>{{results.birthday}}</td>
            <td>{{results.memberType}}</td>
            <td>{{results.entryDate}}</td>
        </tr>

    </table>


</fieldset>


</body>
</html>